body {
	background-image: radial-gradient(#103F12, black);
	background: cover;
	display: flex;
	flex-flow: row wrap;
}

.gameRules {
	font-size: 16px;
}

.nav-wrapper {
	background-color: black;
	color: white;
	padding: 0 10px;
}

.left {
	float: left !important;
	padding-left: 20px;
}

.columns{
	text-align: justify;
	line-height: 18px;
	font-size: 12px;
}

.modal{
	background-color: black;
	width: 100%;
	overflow-y: hidden;
}

#footer {
	background-color: black;
}

.btn-flat{
	color: white;
}


.wager {
	height: 50px;
	width: 50px;
	display: inline-block;
}

.container {
	text-align: center;
	max-width: 600px;
	margin-top: 15px;
}


.dealer, .player {
	height: 180px;
	padding: 0;
	color: #BF541B;
	font-family: 'Charm', cursive;
}

h5 {
	width: 80px;
	margin-left: 40px;
	margin-top: 25px;
}

.scores {
	font-size: 15px;
	padding: 0;
	width: 80px;
	margin-left: 50px;
}

.msg, .amts{
	color: #BF541B;
	font-size: 35px;
	font-family: 'Charm', cursive;
	margin: 0 20px;
}

.actionBtns {
	font-size: 20px;
}

img {
	height: 115px;
	width: 80px;
}

#betAmt, #balance {
	font-size: 30px;
	margin: 0 10px;
}

.amounts {
	color: white;
	font-size: 30px;
}
