body {
	background-image: url("../otherImgs/woodbkgrd.jpg");
	background: cover;
	display: flex;
	flex-flow: row wrap;
}

.gameRules {
	font-size: 16px;
}

.nav-wrapper {
	background-color: black;
	color: white;
	padding: 0 10px;
}

.left {
	float: left !important;
	padding-left: 20px;
}

.columns{
	text-align: justify;
	line-height: 18px;
	font-size: 12px;
}

.modal{
	background-color: #093010;
	width: 100%;
	overflow-y: hidden;
}

#footer {
	background-color: #093010;
}

.btn-flat{
	color: white;
}


.wager {
	height: 50px;
	width: 50px;
	display: inline-block;
}

.container {
	text-align: center;
	max-width: 600px;
	background-color: #194922;
	margin-top: 15px;
	border-radius: 150px;
	border: 20px solid black;
}


.dealer, .player {
	height: 180px;
	padding: 0;
	color: white;
}

h5, h6{
	background-color: red;
	width: 80px;
	margin-left: 50px;
}

.scores {
	font-size: 15px;
	padding: 0;
	margin: 0;
}

.msg {
	height: 40px;
	color: lightgreen;
	font-size: 30px;
	font-family: 'Charm', cursive;
}


.actionBtns {
/*	background-color: black;*/
	font-size: 20px;
}

img {
	height: 115px;
	width: 80px;
	margin: 8px;
}

#betAmt, #balance {
	font-size: 30px;
	margin: 0 10px;
}

.amounts {
	color: white;
	font-size: 30px;
}
