body {
	background-color: #1B5432;
}

.gameRules {
	font-size: 16px;
}

.nav-wrapper {
	background-color: black;
	color: white;
}

.left {
	float: left !important;
	padding-left: 20px;
}

.columns{
	text-align: justify;
	line-height: 18px;
	font-size: 12px;
}

.modal{
	background-color: #093010;
	width: 100%;
	overflow-y: hidden;
}

#footer {
	background-color: #093010;
}

.btn-flat{
	color: white;
}

.gameBoard {
	margin-top: 30px;
	height: 550px;
	background-color: yellow;
}

.gameHeaders {
	font-size: 20px;
}

.dealer {
	background-color: blue;
	height: 220px;
	padding: 0;
	position: relative;
}

.scores {
	font-size: 15px;
	padding: 0;
	margin: 0;
}

.msg {
	height: 50px;
	background-color: red;
	text-align: center;
}

.player {
	background-color: blue;
	height: 220px;
	padding: 0;
	position: relative;
}

.actionBtns {
	font-size: 20px;
	text-align: center;
	margin: 0 auto;
}

img {
	height: 100px;
	width: 80px;
}
